*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    /* --primary-color: aliceblue; */
    /* --primary-color: lavender; */
    /* --primary-color: lavender; */
    --primary-color: #4646DA;
    /* --primary-color: #2628DD; */
    /* --primary-color: #95b8d1; */
    /* --primary-color: #809bce; */
    /* --primary-color: #80CBC4; */
    /* --primary-color: #FFB74D; */
    /* --primary-color: royalblue; */
    /* --secondary-color: #E6E6FA; */
    --secondary-color: #d5d5f1;
    --ternary-color: #212121;
    /* --primary-color: lightskyblue; */
    --dark-mode-dimensions: 20px;
    --nav-link-underline: 3px;
    --radius: 10px;
    --dark-border: 0.1px solid var(--secondary-color);
    /* --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    max-width: 1206px;
    padding: 0 20px;
    margin: 0 auto;
}
.highlight_text{
    color: var(--primary-color);
}
/* pre load ***********************************************************/
.pre_load_animation{
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s all ease-in-out;
    background-color: var(--primary-color);
}
.first_message{
    /* font-weight: 500; */
    font-size: 50px;
    line-height: 1;
    opacity: 0;
    text-transform: capitalize;
    transition: opacity 1s;
    visibility: hidden;
    color: #fff;
}
.second_message{
    max-width: 600px;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.2;
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    transition: opacity 1s;
    visibility: hidden;
    color: #fff;
}
.pre_load_cta{
    width: 100%;
    max-width: 300px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 5px;
    border-radius: 10px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    visibility: hidden;
    transition: all 0.5s;
    color: #424242;
    background-color: var(--secondary-color);
    animation: zoom_in_out 1.5s linear infinite;
    
}
@keyframes zoom_in_out {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.pre_load_cta:hover{
    animation: none;
}
/* pre head ***********************************************************/
.pre_head{
    margin: 20px auto 0;
    text-align: center;
    border: 0.1px solid transparent;
    
}
.pre_head_container{
    padding: 10px 40px;
    border-radius: var(--radius);
    transition: 0.5s all;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}
.pre_head_container:hover{
    transform: scale(1.04);
    background-color: #b1b1eb;
}
.pre_head_text{
    color: var(--ternary-color);
}
/* navigation ***********************************************************/
.desktop_nav{
    width: max-content;
    position: relative;
    z-index: 1;
    margin: 30px auto;
    background-color: #fff;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    padding: 10px 40px;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
}
.section_nav_links_dark_mode{
    display: flex;
    align-items: center;
    gap: 0 30px;
}
.section_nav_links{
    display: flex;
    gap: 0 20px;
}
.desktop_nav{
    transition: 1s all;
}
.desk_nav_links:hover{
    text-decoration: solid underline var(--primary-color) var(--nav-link-underline);
}
/* dark mode */
.dark_mode{
    width: 60px;
    height: 30px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: 0.5s background-color;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow)
}
.dark_mode_button{
    width: var(--dark-mode-dimensions);
    height: var(--dark-mode-dimensions);
    border-radius: 50px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
    background-color: var(--primary-color);
}
.dark_mode_active .dark_mode_button{
    left: 35px;
    background-color: #E0E0E0;
}
/* atf ***********************************************************/
.atf{
    transition: 1s all;
}
.atf_container{
    /* min-height: calc(100vh - 94px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px;
    margin: -50px auto 0;
    border-radius: var(--radius);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: var(--box-shadow);
    /* align-items: center; */
}
.head, .sub_head{
    opacity: 1;
    visibility: visible;
    text-transform: capitalize;
    transition: all 0.6s;
    color: var(--ternary-color);
}
.head{
    font-weight: 600;
    font-size: 25px;
    /* letter-spacing: 1px; */
}
.sub_head{
    font-weight: 700;
    font-size: 60px;
    margin: 20px 0;
    line-height: 1.2;
    letter-spacing: -1px;
}
.atf_image{
    visibility: hidden;
    opacity: 0;
    max-width: 300px;
    transition: all 0.3s;
}
.atf_cta{
    width: 100%;
    max-width: max-content;
    height: 60px;
    padding: 10px 20px;
    margin: 30px 0 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    opacity: 1;
    border: 2px solid transparent;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    transition: 0.6s all;
    background-color: var(--primary-color);
}
.atf_cta:hover, .projects_cta:hover{
    border: 2px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}
.atf_cta_icon{
    margin: 0 0 0 10px;
    animation: up_down 1s linear infinite;
}
@keyframes up_down {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.cust_reviews{
    display: flex;
    gap: 0 20px;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review_text{
    max-width: 200px;
    text-align: center;
}
/* projects */
.projects{
    padding: 50px 0;
}
.projects_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.project{
    width: 100%;
    max-width: 500px;
    max-height: 250px;
    opacity: 0;
    /* padding: 10px; */
    position: relative;
    overflow: hidden;
    visibility: hidden;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: all 2s;
    transform: scale(0.5);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: var(--box-shadow)
}
.project_image{
    max-width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}
.project:hover .project_image{
    animation: scroll_image 3s ease-in-out infinite;
}
@keyframes scroll_image {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-400px);
    }
}
.project_details{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    /* background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9)); */
    color: #fff;
    background: var(--primary-color);
}
.project_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.project_link:hover{
    text-decoration: underline;
}
.projects_cta{
    width: 100%;
    font-weight: 600;
    padding: 10px;
    margin: 100px auto 0;
    border: 2px solid transparent;
    border-radius: 10px;
    opacity: 0;

    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;

    color: #fff;
    transition: all 0.3s;
    background-color: var(--primary-color);
}
/* clients */
.clients{
    min-height: 540px;
    padding: 50px 0 100px;
}
.clients_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0 10px;
}
.client{
    width: 100%;
    max-width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: all 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client_logo{
    width: 100%;
    max-width: 210px;
    height: 100%;
    transition: all 0.3s;
    filter: grayscale(100);
}
.client_review{
    flex: 1 0 0;
    height: 0;
    /* margin: 10px 0 0; */
    line-height: 1.45;
    letter-spacing: 0.4px;
    opacity: 0;
    transition: all 0.7s;
}
.review_highlight{
    font-weight: 600;
}
/* dark mode css ***********************************************************/
/* dark pre head */
.dark_styles_active .pre_head_container, .dark_styles_active .nav_container, .dark_styles_active .atf_container, .dark_styles_active .clients{
    border: var(--dark-border)
}
.dark_styles_active, .dark_styles_active .pre_head_container, .dark_styles_active .desktop_nav, .dark_styles_active .atf, .dark_styles_active .projects, .dark_styles_active .clients{
    background-color: var(--ternary-color);
}
.dark_styles_active .client{
    background-color: var(--secondary-color);
    border: var(--dark-border);
}
.dark_styles_active .pre_head_text, .dark_styles_active .desk_nav_links, .dark_styles_active .head, .dark_styles_active .sub_head, .dark_styles_active .review_text{
    color: #fff;
}
/* active class ***********************************************************/
.dark_mode_active{
    background-color: var(--primary-color);
}
.desktop_nav_active{
    text-decoration: solid underline var(--primary-color) var(--nav-link-underline);
}
.show_preload_animation{
    height: 100%;
}
.hide_preload_animation{
    top: -100%;
}
.visible{
    opacity: 1;
    visibility: visible;
}
.scale{
    transform: scale(1);
}
.show_review{
    height: 300px;
    margin: 20px 0 0;
    opacity: 1;
}
.color_scale{
    filter: grayscale(0);
}